<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.prayas.prayas" >

    <uses-permission android:name="android.permission.STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BookDetailActivity"
            android:label="@string/title_activity_book_detail"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MoviesViewActivity"
            android:label="@string/title_activity_movies_view"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".GamesViewActivity"
            android:label="@string/title_activity_games_view"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MyOrdersActivity"
            android:label="@string/title_activity_my_orders" >
        </activity>

        <activity
            android:name=".MyStoresActivity"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
